@import "tailwindcss";

@theme inline {
  --color-brand-black: #000000;
  --color-brand-surface: #141414;
  --color-brand-beige: #f3e9de;
  --color-brand-light-beige: #f5eadc;
  --color-brand-gold: #e3c59d;
  --color-brand-gold-dark: #b79569;
  --color-brand-brown: #2c1a12;
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
  --font-script: var(--font-great-vibes);
}

:root {
  --background: var(--color-brand-black);
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
